# Kilo
.kilo/

# Server
server/node_modules/
server/dist/
server/.env
server/.env.test
server/prisma/dev.db
server/prisma/*.db
server/prisma/test.db*
server/test.db
server/test.db*

# Client
client/node_modules/
client/dist/
client/.next/
client/.env
client/tsconfig.tsbuildinfo

Phase_information.md
docs
docs/*
./docs